div.about{
    width: 50%;;
}
div.middleabout-up{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    text-align: center;
    height: fit-content;
}
div.middleabout-middle{
    justify-content: center;
    margin-left: auto;
    margin-right: auto; 
}
p.text1{
    font-size: 50px;
    font-weight: bold;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-top: 20%;
       
}
p.text2{
    font-size: 23px;
    text-transform: capitalize;
    color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
div.middleabout-down{
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}
button.learn{
    border: solid 2px #FFCFD2;  
    border-radius: 5px; 
    background-color: #FFCFD2;
    width: 100px;
    height: 48px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    padding-right: 15px;
    padding-left: 15px;
}